@import '../../Style/Mixins.scss';

.container {
    background: rgba(123, 108, 255, 0.1);
    @include fluid(padding-top, 30px, 60px);
    @include fluid(padding-bottom, 30px, 60px);
}
.block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include container;
}
.title {
    color: $black;
    font-weight: 700;
    @include fluid(font-size, 24px, 30px);
    @include fluid(margin-bottom, 10px, 15px);
}
.subtitle {
    color: $blue;
    font-weight: 700;
    @include fluid(font-size, 14px, 16px);
}
.form {
    display: flex;
    align-items: center;
    width: 40%;
    input {
        width: 90%;
        font-family: 'Montserrat';
        display: block;
        border-radius: 30px;
        transition: 0.38s ease-in-out;
        background-size: 300% 100%;
        outline: none;
        transition: 0.38s ease-in-out;
        border: 1px solid $yellow;
        box-shadow: 0 3px 3px 0 $yellow;
        @include fluid(font-size, 14px, 16px);
        @include fluid(padding-top, 10px, 20px);
        @include fluid(padding-bottom, 10px, 20px);
        @include fluid(padding-left, 20px, 40px);
        @include fluid(padding-right, 20px, 40px);
        @include fluid(margin-top, 20px, 20px);
    }
}
