@import '../../Style/Mixins.scss';

.container {
    background: rgba(123, 108, 255, 0.1);
    @include fluid(padding-top, 30px, 60px);
    @include fluid(padding-bottom, 30px, 60px);
}
.block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include container;
}
.title {
    color: $black;
    font-weight: 700;
    @include fluid(font-size, 24px, 30px);
    @include fluid(margin-bottom, 10px, 15px);
}
.subtitle {
    color: $blue;
    font-weight: 700;
    @include fluid(font-size, 14px, 16px);
}
.form {
    display: flex;
    align-items: center;
    width: 40%;
    input {
        width: 90%;
        border-radius: 30px;
        border: none;
        box-shadow: 0 4px 15px 0 $yellow;
    }
}
