@import '../../Style/Mixins.scss';

.header {
  position: fixed;
  width: 100%;
  transition: 0.38s ease-in-out;
}
.scroll {
  position: fixed;
  width: 100%;
  background: rgba(245, 250, 255, 0.75);
  backdrop-filter: blur(12px);
  transition: 0.38s ease-in-out;
  z-index: 1;
}
.inner {
  display: flex;
  align-items: center;
  position: relative;
  @include fluid(padding-top, 10px, 20px);
  @include fluid(padding-bottom, 10px, 20px);
}
