@import '../../Style/Mixins.scss';

.container {
  @include container;
  @include fluid(padding-top, 50px, 100px);
  @include fluid(padding-bottom, 50px, 100px);
  h4 {
    color: #001430;
    font-weight: bold;
    text-transform: capitalize;
    @include fluid(font-size, 16px, 20px);
    @include fluid(margin-bottom, 10px, 20px);
  }
  p {
    color: $black;
    @include fluid(font-size, 14px, 16px);
    @include fluid(line-height, 18px, 26px);
  }
}
.description {
  @include fluid(margin-top, 30px, 60px);
}
.wrapper {
  @include fluid(margin-bottom, 15px, 30px);
  p {
    text-align: center;
  }
}
.block {
  display: flex;
  justify-content: space-between;
}
.item {
  width: 30%;
}
.svg {
  width: 50px;
  height: 50px;
  object-fit: contain;
  fill: $orange;
  filter: invert(52%) sepia(13%) saturate(5231%) hue-rotate(324deg) brightness(102%) contrast(101%);
  @include fluid(margin-bottom, 10px, 15px);
}
