@import '../../Style/Mixins';

.wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}
.img {
  object-fit: contain;
  object-position: right;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.title {
  color: $blue;
  @include fluid(margin-bottom, 10px, 20px);
  @include fluid(font-size, 14px, 20px);
}

.text {
  color: #001430;
  font-weight: bold;
  @include fluid(font-size, 36px, 44px);
  width: 50%;
}

.item {
  @include container;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
